{
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true
}
