* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1140px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
}

.news {
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
