* {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  color: #212529;
  background-color: #eee;
  padding: 0.5em;
}

h1,
h2,
ol,
p {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

article {
  margin-bottom: 1em;
}

.page {
  max-width: 21cm;
  min-height: 29.7cm;
  padding: 1.5em 2em 1em 2em;
  margin: 0 auto;
  border: 0.1em #d3d3d3 solid;
  border-radius: 0.5em;
  background: #fefefe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mark {
  display: inline;
  padding: 0.05em;
  background-color: #fcf8e3;
  word-wrap: break-word;
  border-bottom: 1.5px dotted #fa8669;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

ol,
ul {
  padding: 0 2em;
  list-style: none;
}

ul {
  padding: 0;
}

p {
  //
}

tr,
td {
  border: 1px solid #d8d8d8;
}

.aims {
  &__purpose {
    vertical-align: top;
    padding: 0.5em 0.75em;
    max-width: 300px;
    text-align: left;
  }
  &__resourse {
    vertical-align: top;
    padding: 0.5em 0.75em;
    text-align: left;
    &::before {
      content: '●';
      display: inline-block;
      font-size: 10px;
      // line-height: 24px;
      margin-right: 5px;
    }
  }
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
