.price {
  padding-top: 66px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(3, 44px) / repeat(2, 1fr);
    grid-auto-rows: 44px;
    column-gap: 350px;
    row-gap: 15px;
    justify-content: space-between;
    padding: 60px 50px;
    &-item {
      display: grid;
      // grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      justify-content: space-between;
      align-content: space-between;
    }
    &-title {
      position: relative;
      margin-left: 25px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-money {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
    }
    &-text {
      margin-left: 25px;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      font-weight: normal;
    }
  }
}
